/* General Section */

body{
  font-family: "Montserrat-Black", sans-serif;
  background-color: #f8f9fa;
  width: 100%
}

/* Class used for second headline (h2) as it was incoherent in pricing table */

.second-heading{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

/* Navbar Section */

.fa-fire{
  color: white;
}

.fa-fire:hover{
  color: #ef8172;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.nav-item{
  padding: 1.125rem;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light", sans-serif;
}

.navbar{
  padding: 0 0 4.5rem;
}

.lar-pad-titl{
  padding: 3% 15%;
}

/* Download Button Section */

.cust-spaceing-btn{
  margin: 5% 3% 5% 0;
}

/* Image Section */

.rotated{
  width: 60%;
  transform: rotate(25deg);
  margin-right: 1rem;
  margin-left: 6.25rem;
}

/* Features Section */

.feat-text-row{
  color: #8f8f8f;
}

.featured-icons{
  color: #ef8172;
  margin: 1.75rem 0;
}

.featured-icons:hover{
  color: #ff4c68;
}

.cen-feat{
  text-align: center;
  padding: 5%;
}

.feat-titl-row{
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

/* Padding for features section */

.mid-pad-feat{
  padding: 3% 8%;
  margin-bottom: 3rem;
}

/* Testimonial Section */

.testimonial-image{
  width: 20%;
  border-radius: 100%;
  margin: 5rem 1.25rem 2rem;
}

.testimonial-names{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.carousel-item{
  padding: 7% 15% 4%;
}

.carousel-inner{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Press Logo */

.press-logo{
  margin: 1.25rem 1.25rem 3.125rem;
  width: 15%;
}

/* Pricing Table */

.text-custom,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:active,
.navbar-custom .navbar-nav li.active a,
.service-box .services-icon,
.price-features p i,
.faq-icon,
.social .social-icon:hover {
  color: #ff4c68;
}

.bg-custom,
.btn-custom,
.timeline-page .timeline-item .date-label-left::after,
.timeline-page .timeline-item .duration-right::after,.back-to-top:hover {
  background-color: #ff4c68;
}

.btn-custom,
.custom-form .form-control:focus,
.social .social-icon:hover,
.registration-input-box:focus {
  border-color: #ff4c68;
}

.service-box .services-icon,
.price-features p i {
  background-color: rgba(246, 87, 110, 0.1);
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
  border-color: #e45267;
  background-color: #e45267;
}

.price-box {
  padding: 2.5rem 3.125rem;
}

.plan-price span {
  font-size: 1rem;
  color: #000;
}

.price-features p i {
  height: 1.25rem;
  width: 1.25rem;
  display: inline-block;
  text-align: center;
  line-height: 1.25rem;
  font-size: 0.875rem;
  border-radius: 50%;
  margin-right: 1.25rem;
}

.h2-spacing{
  margin-bottom: 1.5rem;
}

/* Selectors */

#title{
  background-color: #ff4c68;
  color: white;
  margin-bottom: 4.25rem;
}

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: white;
}

#testimonials:hover{
  text-align: center;
  background-color: #ff4c68;
  color: white;
}

#press{
  text-align: center;
  padding-bottom: 3%;
  padding-top: 3%;
}

#pricing{
  font-family: "Montserrat", sans-serif;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* Title Section */

#top-title{
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}
