/**************************************************************** General Section ****************************************************************/
body {
  font-family: "Montserrat-Black", sans-serif;
  background-color: #f8f9fa;
  width: 100%;
  color: #f8f9fa;
  text-align: center;
}

/* Padding */
.padding-for-extrm {
  padding: 3% 15%;
}

/**************************************************************** Headings ****************************************************************/
/* Class used for second headline (h2) as it was incoherent in pricing table */
.second-heading {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

/**************************************************************** Navbar Section ****************************************************************/
/* Navbar Icon with Hover */
.fa-fire:hover {
  color: #ef8172;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 1.125rem;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light", sans-serif;
}

.navbar {
  padding: 0 0 4.5rem;
}

/* Download Button Section */
.cust-spaceing-btn {
  margin: 5% 3% 5% 0;
}

/* Image Section */
.rotated {
  width: 60%;
  transform: rotate(25deg);
  margin-right: 1rem;
  margin-left: 6.25rem;
  position: absolute;
}

/**************************************************************** Features Section ****************************************************************/
.feat-text-row {
  color: #8f8f8f;
}

.featured-icons {
  color: #ef8172;
  margin: 1.75rem 0;
}

.featured-icons:hover {
  color: #ff4c68;
}

.cen-feat {
  padding: 5%;
}

.feat-titl-row {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: Black;
}

/* Padding for features section */
.mid-pad-feat {
  padding: 3% 8%;
  margin-bottom: 3rem;
  position: relative;
}

/* Testimonial Section */
.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 5rem 1.25rem 2rem;
}

.testimonial-names {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 900;
}

.carousel-item {
  padding: 7% 15% 4%;
}

.carousel-inner {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Press Logo */
.press-logo {
  margin: 1.25rem 3rem 4.5rem;
  width: 11%;
}

/**************************************************************** Pricing Table ****************************************************************/
.text-custom,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:active,
.navbar-custom .navbar-nav li.active a,
.service-box .services-icon,
.price-features p i,
.faq-icon,
.social, .social-icon:hover {
  color: #ef8172;
}

.text-custom:hover {
  color: #ff4c68;
}

.bg-custom,
.btn-custom,
.timeline-page .timeline-item .date-label-left::after,
.timeline-page .timeline-item .duration-right::after, .back-to-top:hover {
  background-color: #ef8172;
}

.btn-custom,
.custom-form .form-control:focus,
.social .social-icon:hover,
.registration-input-box:focus {
  border-color: #ef8172;
}

.service-box .services-icon,
.price-features p i {
  background-color: rgba(246, 87, 110, 0.1);
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open>.dropdown-toggle.btn-custom {
  border-color: #e45267;
  background-color: #e45267;
}

.price-box {
  padding: 2.5rem 3.125rem;
}

.plan-price span {
  font-size: 1rem;
  color: #000;
}

.price-features p i {
  height: 1.25rem;
  width: 1.25rem;
  display: inline-block;
  line-height: 1.25rem;
  font-size: 0.875rem;
  border-radius: 50%;
  margin-right: 1.25rem;
}

.h2-pricing {
  margin-bottom: 1.5rem;
  color: Black;
}

/* Footer */
.footer-fas {
  margin: 1rem 1rem 1.5rem 1rem;
  color: Black;
}

.footer-fas:hover {
  color: #ff4c68;
}

/* Selectors */
#title {
  background-color: #ff4c68;
  padding-bottom: 8.5rem;
  text-align: left;
}

#testimonials {
  background-color: #ef8172;
}

#testimonials:hover {
  background-color: #ff4c68;
}

#press {
  padding-bottom: 3%;
  padding-top: 3%;
}

#pricing {
  font-family: "Montserrat", sans-serif;
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: Black;
}

#features {
  z-index: 1;
  padding-top: 4.25rem;
  background-color: #f8f9fa;
}

/* Title Section */
#top-title {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

#cta {
  background-color: #ff4c68;
  padding: 5% 15%;
}

/**************************************************************** Media Responsiveness****************************************************************/
/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
  #title {
    text-align: center;
    padding-bottom: 3rem;
  }

  .rotated {
    transform: rotate(0);
    position: static;
    margin-right: 0;
    margin-left: 0;
    margin-top: 2rem;
    width: 40%;
  }

  .testimonial-image {
    width: 25%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1151px) {
  #title {
    padding-bottom: 2rem;
  }
}
